.posts-expand .post-eof {
  margin: 20px auto;
  width: 100%;
}
.post-button {
  margin-top: 25px;
}
.posts-expand .post-meta {
  margin: 3px 0;
}
img.img-topic {
  display: block;
  margin-left: 0.7em;
  margin-right: 0.7em;
  padding: 0;
  float: right;
  clear: right;
}
.red-text {
  color: #fc6423;
}
